/*=========
    Main
 ==========*/


main {
	display: grid;
	background-image: 
	    url("Gucci/MX/images/Edited/HeroRegularStandard_S03-MX1_001_Default.jpg");
	height: 30em;
	width: 100%;
	background-size: 100% 30em;
	justify-content: center;
	align-items: center;
}

main .text{
	text-align: center;
	color: #fff;
	margin-top: 6em;
}

main .text h1 {
	font-family: "Century Gothic", Arial;
	font-size: 65px;
	letter-spacing: 5px;
	font-weight: 100;
	text-transform: uppercase;
}

main .text h1::after {
	content: '';
	width: 2.8em;
	border: none;
	border-bottom: 1px solid #fff;
	position: absolute;
	margin-top: 1.5em;
	margin-left: -4.8em;
	line-height: 1rem;
}

main .text p {
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 18px;
	font-weight: bolder;
	word-spacing: 3px;
	line-height: 1rem;
	margin-top: 2rem;
}

/*=======
  Hero-1
 ========*/


.hero-1-container {
	width: 100%;
	height: 350px;
	background-color: #fff;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: #313131;
	opacity: .7;
}

.hero-1-text {
	margin-top: 3rem;
}

.hero-1-container h2 {
	font-family: "Century Gothic", Arial;
	font-size: 36px;
	letter-spacing: 5px;
	font-weight: 100;
	margin-bottom: 60px;
	line-height: 1rem;
}

.hero-1-container h2::after {
	content: '';
	width: 4.8em;
	border: none;
	border-bottom: 1px solid #313131;
	position: absolute;
	margin-top: 1.5em;
	margin-left: -7.2em;
}

.hero-1-container p {
	width: 730px;
	text-align: center;
	font-size: 20px;
	font-family: "Times New Roman";
	font-style: italic;
	font-weight: normal;
	line-height: 2.3rem;

}

/*===========
  Hero-2 & 4
 ============*/

.container {
	display: grid;
	height: 480px;
	width: 100%;
	background-size: 100% 480px;
	justify-content: center;
	align-content: center;
}

.container .text {
	text-transform: uppercase;
	text-align: center;
	font-family: "Century Gothic";
	font-weight: lighter;
	color: #fff;
}

.container h2 {
	font-size: 70px;
	letter-spacing: 2px;
	font-weight: 100;
}

.container button {
	background: #1b1b1b;
	border: none;
	padding: 10px 18px;
	font-family: 'Century Gothic';
	text-transform: uppercase;
	margin-top: 1rem;
	font-size: 13px;
	letter-spacing: -.7px;
	word-spacing: 1px;
}

.container button a {
	color: #fff;
}

.container button:hover {
	background-color: #313131;
	cursor: pointer;
}

/*========
  Hero-2 
 ========*/

.hero-2-container {
	background-image:
	    url("Gucci/MX/images/Edited/HeroRegularStandard_S03-MX2_001_Default.jpg");
}

/*========
  Hero-3 
 ========*/

.hero-3-container {
	width: 90%;
	height: 490px;
	display: grid;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

.hero-3-container .content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"text img";
	color: #313131;
	
}

.content p {
	grid-area: 'text';
	display: grid;
	margin: 2rem;
	padding: 40px 35px 0 35px;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 20px;
	line-height: 2.3rem;
	opacity: .7;
}

.content img {
	grid-area: img;
	height: 366px;
	width: 366px;
	display: grid;

}

/*========
  Hero-4 
 ========*/


.hero-4-container {
	background-image:
	    url("Gucci/MX/images/Edited/HeroRegularStandard_S03-MX3_001_Default.jpg");
}

/*========
  Hero-5 
 ========*/

.hero-5-container {
	width: 90%;
	height: 590px;
	display: grid;
	grid-template-areas: 
	"section-1 section-2";
	justify-content: center;
	align-content: center;
}

.hero-5-container figure img {
	width: 106px;
	height: 106px;
	margin-left: 14px;
}

.hero-5-container h3 {
	font-family: Century Gothic;
	text-align: center;
	color: #4b4b4b;
	font-size: 20px;
	font-weight: 200;
	margin: 15px 18px 8px 18px;
	opacity: .7;
}

.hero-5-container .description {
	font-family: "Times New Roman";
	color: #666;
	font-size: 14px;
	font-style: italic;
	line-height: 1.5rem;
	text-align: center;
	padding: 0 20px;
	margin-bottom: 10px;
}

.hero-5-container .btn {
	display: inline-flex;
	margin: 0 auto;
}

.hero-5-container .btn a {
	font-family: "Century Gothic";
	color: #1b1b1b;
	text-transform: uppercase;
	font-size: 12px;
	padding-right: 10px;
	letter-spacing: .8px;
	font-weight: 600;
	text-align: center;
}

.hero-5-container .btn a:hover {
	color: #666;
}

.hero-5-container .fa {
	cursor: pointer;
}

.items-a {
	grid-area: 'section-1';
	width: 50%;
	display: grid;
	grid-template-areas: 
	"fig-a fig-b";
	margin: 0 auto;
}

.r-t-w {
	grid-area: fig-a;
	display: grid;
	margin: 0 auto;
}


.h-l {
	grid-area: fig-b;
	display: grid;
	margin: 0 auto;
	margin-left: 6rem;
}

.items-b {
	grid-area: 'section-2';
	width: 50%;
	display: grid;
	grid-template-areas: 
	"fig-c fig-d";
	margin: 0 auto;
}

.shoes {
	grid-area: fig-c;
	margin-right: 7rem;
}

.accessories {
	grid-area: fig-d;
}

/*========
   Hero-6
  ========*/

.hero-6-container {
	width: 100%;
	height: 500px;
	display: grid;
	position: relative;
}

.hero-6-container .contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"image text-area";
}

.hero-6-container .image {
	grid-area: image;
	display: grid;
}

.hero-6-container .image img {
	width: 100%;
	height: 100%;
}

.hero-6-container .text-area {
	grid-area: 'text-area';
	background-color: #e17a95;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.hero-6-container .text-area p {
	font-size: 16px;
	color: #fff;
	font-weight: 200;
	font-family: "Century Gothic";
	padding: 0 35px;
	line-height: 2rem;
	cursor: default;
}

.hero-6-container .text-area p a {
	color: #fff;
	cursor: pointer;
}

.hero-6-container .cta {
	position: absolute;
	top: 90%;
	left: 40%;
}

.hero-6-container .cta a {
	font-size: 15px;
	color: #fff;
	filter: opacity(.9);
	font-weight: 200;
	font-family: "Century Gothic";
	cursor: pointer;
	text-transform: uppercase;
}

.hero-6-container .cta a:hover {
	filter: none;
}

.hero-6-container .cta .fa {
	margin-right: 3px;
}
















































